In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import warnings
warnings.filterwarnings('ignore')

In [4]:
#from the above discription of Columns :
#inputs are [CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, RAD, TAX, PTRATIO, B, LSTAT]
#output is [MEDV]

In [14]:
# to load dataset
df=pd.read_csv('BostonHousing.csv')
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [15]:
#selecting input and output from dataset df_new
x=df.drop("medv",axis=1)  #select input
y=df["medv"]  #select outp[ut]

In [17]:
x.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [18]:
#train data into train and test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

In [20]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((354, 13), (152, 13), (354,), (152,))

In [22]:
#training model with 70% data
#using linearregresion cause price is cont numeric
#multiple linear regression cause multiple input
from sklearn.linear_model import LinearRegression
#creating an object 
lr=LinearRegression()

In [23]:
#training model wityh 70% data
lr.fit(x_train,y_train)

LinearRegression()

In [25]:
#check slope and intercept of each input
slope=lr.coef_
#print(slope)
slope=[np.round(i) for i in slope]
print(slope)

[-0.0, 0.0, 0.0, 2.0, -21.0, 3.0, 0.0, -2.0, 0.0, -0.0, -1.0, 0.0, -1.0]

In [27]:
x_train.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat'],
      dtype='object')

In [29]:
#checking slope of all cols
dict={"input":x_train.columns,"slope":slope}
df1=pd.DataFrame(dict)
df1

      input  slope
0      crim   -0.0
1        zn    0.0
2     indus    0.0
3      chas    2.0
4       nox  -21.0
5        rm    3.0
6       age    0.0
7       dis   -2.0
8       rad    0.0
9       tax   -0.0
10  ptratio   -1.0
11        b    0.0
12    lstat   -1.0

In [31]:
# check intercept
lr.intercept_

46.39649387182398

In [33]:
#check training score inbuilt method score() which is defined in inbuilt class linearregression

In [35]:
#score always in between 0-1 closer to 1 is good closet to 0 is bad
print("training score",lr.score(x_train,y_train))

training score 0.7103879080674731

In [37]:
#test the model with 30% data
y_pred=lr.predict(x_test)
y_pred

array([32.3914647 , 27.94401279, 17.83762764, 21.66941388, 18.93639614,
       20.01995795, 32.63414961, 17.86179976, 24.73211676, 26.77346826,
       27.26138023, 28.63243014, 21.16103038, 27.15098589, 23.33198614,
       21.02894005, 17.11819755, 37.52455938, 30.69864427,  8.46104486,
       20.83966032, 16.26732451, 25.05030307, 24.8069032 , 31.6789299 ,
       10.98989363, 13.54111562, 16.54697099, 35.86699683, 14.69589266,
       21.05655107, 13.90301353, 43.01321262, 17.80335305, 21.68817023,
       20.45077825, 17.38095983, 26.81334904, 10.08706217, 19.96174586,
       24.1983249 , 21.00202622, 29.38682967, 16.33215467, 19.37439646,
       14.45525235, 39.52670798, 18.18535021, 26.38536303, 20.41420863,
       25.08511581, 24.40208165, 24.87902769, 26.97887956,  4.93921657,
       24.0001365 , 10.66711602, 26.98494775, 16.63507993, 35.31652989,
       19.49249915, 27.37577863, 16.53965715, 19.09746715, 11.06765336,
       32.03445261, 36.15847648, 21.53547868, 24.96434626, 25.50601154,
       23.41203509,  7.20513615, 16.8659937 , 20.06269471, 20.61979368,
       21.97238475, 34.25908683, 27.9998298 , 24.95261644, 34.74201458,
       18.63786454, 23.95355085, 34.50655345, 13.15979729, 20.53691051,
       30.29844955, 16.932953  , 24.29285934, 19.11800155, 16.9848188 ,
       26.80165303, 40.90027245, 14.43790215, 23.20589688, 15.39439519,
       21.77332361, 22.85660249, 29.45718412, 36.54373379, 20.36577747,
       18.01790611, 17.41615519, 25.23381893, 21.98069747,  8.3160445 ,
       21.49942727, 16.565317  , 33.22680671, 24.39944797, 24.99055027,
       38.37532568, 28.82033178, 14.76287071, 34.72063358, 35.40686066,
       32.93299015, 20.95996646, 16.74324182, 34.54769634, 38.9463732 ,
       21.47971843, 15.54203787, 27.46719043, 18.62729405, 27.3819011 ,
       21.13549164, 26.24403323, 22.22010257, 23.34295812, 28.29923408,
       20.53788412, 23.94639233, 29.8421088 , 10.55075792, 27.02280253,
       32.41641579, 13.94180705, 13.62057726, 33.00870341, 14.2836798 ,
       17.70899424, 16.30194776, 17.14377392, 28.71467061, 34.07548297,
       20.31288796, 24.55801246, 17.32995936, 28.3602341 , 20.79422791,
       33.6981572 , 13.51882716])

In [39]:
#or using r2score
from sklearn.metrics import r2_score
print("testing score",r2_score(y_test,y_pred))

testing score 0.7836295385076271

# training score is 71 and testing score is 78 means our model is overfit ,training score>testing score now we have to add error on training time means apply regularisation

In [40]:
#2 types of regularisation
#1 lasso(l1)
#2 ridge(l2)
''' Add some error during training time 
   1. Lasso Regularization : L1  
   RSS+lambda*sum(abs(all coefficient)) here lambda is also known as 
   hyper-parameter, value of lambda  can be 200,400,600,..1000
   2. Ridge Regularization : L2
   RSS+lambda*sum(square(all coefficient)) here lambda is also known as 
   hyper-parameter, value of lambda  can be 0 to 50
    '''

' Add some error during training time \n   1. Lasso Regularization : L1  \n   RSS+lambda*sum(abs(all coefficient)) here lambda is also known as \n   hyper-parameter, value of lambda  can be 200,400,600,..1000\n   2. Ridge Regularization : L2\n   RSS+lambda*sum(square(all coefficient)) here lambda is also known as \n   hyper-parameter, value of lambda  can be 0 to 50\n    '

In [49]:
#lasso regularisation means l1 call inbuilt class Lasso into sklearn lib
from sklearn.linear_model import Lasso
l1=Lasso(400)

In [50]:
#train the model with lasso,use inbuilt method fit() of lasso class
l1.fit(x_train,y_train)

Lasso(alpha=400)

In [52]:
#check the training score after train the model with lasso
l1.score(x_train,y_train)

0.12359818802596678

In [54]:
#select the right value of lambda/alpha for lasso
for i in range(200,1001,50):     #start=200 stop=1001 staep=5
    #first time lambda=200,next time=250...
    #create object of lasso
    l1=Lasso(i)  #here i=200 first time
    #train the model with l1 object
    l1.fit(x_train,y_train)
    #check training score
    train_score=l1.score(x_train,y_train)
    #to find testing score
    test_score=l1.score(x_test,y_test)
    print("value of lambda: {}\n training score:{}\n testing score:{}".
         format(i,train_score,test_score))
    print("\n")

value of lambda: 200
 training score:0.17475736197902225
 testing score:0.2196934329362601


value of lambda: 250
 training score:0.16516501686282437
 testing score:0.20333017994022262


value of lambda: 300
 training score:0.15344103949858245
 testing score:0.18519653086674592


value of lambda: 350
 training score:0.13958542988629663
 testing score:0.16529248571582988


value of lambda: 400
 training score:0.12359818802596678
 testing score:0.14361804448747462


value of lambda: 450
 training score:0.10547931391759302
 testing score:0.12017320718168023


value of lambda: 500
 training score:0.08522880756117523
 testing score:0.09495797379844662


value of lambda: 550
 training score:0.06284666895671343
 testing score:0.06797234433777333


value of lambda: 600
 training score:0.0383328981042077
 testing score:0.03921631879966114


value of lambda: 650
 training score:0.011687495003658066
 testing score:0.008689897184109507


value of lambda: 700
 training score:0.0
 testing score:-0.0045026262274585616


value of lambda: 750
 training score:0.0
 testing score:-0.0045026262274585616


value of lambda: 800
 training score:0.0
 testing score:-0.0045026262274585616


value of lambda: 850
 training score:0.0
 testing score:-0.0045026262274585616


value of lambda: 900
 training score:0.0
 testing score:-0.0045026262274585616


value of lambda: 950
 training score:0.0
 testing score:-0.0045026262274585616


value of lambda: 1000
 training score:0.0
 testing score:-0.0045026262274585616

In [55]:
#call ridge class
from sklearn.linear_model import Ridge
#select right value of lambda for ridge regularisation
#create an object
for i in range(0,51,1):  #here i is value of lambda
    l2=Ridge(i)   #first time i=0 then i=1...
     #train the model with l1 object
    l2.fit(x_train,y_train)
    #check training score
    s1=l2.score(x_train,y_train)
    #to find testing score
    s2=l2.score(x_test,y_test)
    print("value of lambda: {}\n training score:{}\n testing score:{}".
         format(i,s1,s2))
    print("\n")

value of lambda: 0
 training score:0.7103879080674731
 testing score:0.7836295385076294


value of lambda: 1
 training score:0.7063721813825193
 testing score:0.7890510666829774


value of lambda: 2
 training score:0.7029793149256163
 testing score:0.788944947620981


value of lambda: 3
 training score:0.7008167936627466
 testing score:0.7882404144799003


value of lambda: 4
 training score:0.6993432841187879
 testing score:0.7874492373730994


value of lambda: 5
 training score:0.698270384850109
 testing score:0.7866632469091699


value of lambda: 6
 training score:0.6974464749764818
 testing score:0.7859008946400841


value of lambda: 7
 training score:0.6967863836582628
 testing score:0.7851641706456756


value of lambda: 8
 training score:0.6962391303938011
 testing score:0.7844511856319496


value of lambda: 9
 training score:0.6957725332516576
 testing score:0.7837593893655703


value of lambda: 10
 training score:0.6953653682108154
 testing score:0.7830864131993092


value of lambda: 11
 training score:0.695003121718319
 testing score:0.7824302485317137


value of lambda: 12
 training score:0.6946755636520094
 testing score:0.7817892375140874


value of lambda: 13
 training score:0.6943752957767233
 testing score:0.7811620180653747


value of lambda: 14
 training score:0.694096849067809
 testing score:0.7805474658246132


value of lambda: 15
 training score:0.6938361031738551
 testing score:0.7799446444893168


value of lambda: 16
 training score:0.6935899020057947
 testing score:0.7793527661738507


value of lambda: 17
 training score:0.6933557926160677
 testing score:0.7787711605834046


value of lambda: 18
 training score:0.6931318437926585
 testing score:0.7781992512442221


value of lambda: 19
 training score:0.6929165174932861
 testing score:0.7776365371757026


value of lambda: 20
 training score:0.6927085760907544
 testing score:0.777082578699087


value of lambda: 21
 training score:0.6925070143753598
 testing score:0.7765369863786176


value of lambda: 22
 training score:0.6923110089813528
 testing score:0.7759994123387992


value of lambda: 23
 training score:0.6921198802766868
 testing score:0.7754695433923747


value of lambda: 24
 training score:0.6919330632999193
 testing score:0.774947095556764


value of lambda: 25
 training score:0.6917500853534029
 testing score:0.7744318096427122


value of lambda: 26
 training score:0.6915705485544901
 testing score:0.7739234476771102


value of lambda: 27
 training score:0.6913941161219037
 testing score:0.7734217899797151


value of lambda: 28
 training score:0.6912205015056485
 testing score:0.7729266327563373


value of lambda: 29
 training score:0.6910494597027711
 testing score:0.7724377861029537


value of lambda: 30
 training score:0.690880780268579
 testing score:0.7719550723391484


value of lambda: 31
 training score:0.6907142816540135
 testing score:0.7714783246073159


value of lambda: 32
 training score:0.6905498065884419
 testing score:0.7710073856877788


value of lambda: 33
 training score:0.6903872182926067
 testing score:0.7705421069904601


value of lambda: 34
 training score:0.6902263973553149
 testing score:0.7700823476918177


value of lambda: 35
 training score:0.6900672391442257
 testing score:0.7696279739920123


value of lambda: 36
 training score:0.6899096516490169
 testing score:0.7691788584721589


value of lambda: 37
 training score:0.6897535536765687
 testing score:0.768734879535347


value of lambda: 38
 training score:0.6895988733342802
 testing score:0.7682959209181424


value of lambda: 39
 training score:0.6894455467504157
 testing score:0.7678618712616884


value of lambda: 40
 training score:0.6892935169903709
 testing score:0.7674326237334526


value of lambda: 41
 training score:0.6891427331356141
 testing score:0.7670080756922024


value of lambda: 42
 training score:0.6889931494982686
 testing score:0.7665881283900515


value of lambda: 43
 training score:0.6888447249492553
 testing score:0.7661726867064269


value of lambda: 44
 training score:0.6886974223418741
 testing score:0.765761658909636


value of lambda: 45
 training score:0.6885512080158804
 testing score:0.7653549564423945


value of lambda: 46
 training score:0.6884060513696915
 testing score:0.7649524937282332


value of lambda: 47
 training score:0.6882619244904411
 testing score:0.7645541879961644


value of lambda: 48
 training score:0.6881188018333113
 testing score:0.7641599591213765


value of lambda: 49
 training score:0.6879766599429524
 testing score:0.7637697294800424


value of lambda: 50
 training score:0.6878354772109654
 testing score:0.763383423816602

In [ ]:
#model is underfit so we go for crossvalidation